#### Outliers
**Boxplots**

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss
import pandas as pd

In [12]:
morley = pd.read_csv('morley.csv')
# or morley = np.genfromytxt('morley.csv')
morley

    Unnamed: 0  Expt  Run  Speed
0            1     1    1    850
1            2     1    2    740
2            3     1    3    900
3            4     1    4   1070
4            5     1    5    930
..         ...   ...  ...    ...
95          96     5   16    940
96          97     5   17    950
97          98     5   18    800
98          99     5   19    810
99         100     5   20    870

[100 rows x 4 columns]

In [33]:
# slice the data frame by index position 
morley.iloc[0:20, 3]

0      850
1      740
2      900
3     1070
4      930
5      850
6      950
7      980
8      980
9      880
10    1000
11     980
12     930
13     650
14     760
15     810
16    1000
17    1000
18     960
19     960
Name: Speed, dtype: int64

**Exercise 1**  
_Create box plots on a single set of axes for all five experiments in the morley data set._

**Exercise 2**  
_Create box plots for all of the numercial variables in Fisher's Iris Data Set._

**Exercise 3**  
_Adapt the above code and plots so that the overall plot is inversely propertional and the individual groups are directly proportional._

#### References:
 * Wikipedia contributors (2022, December 4). Box plot. In Wikipedia, The Free Encyclopedia. Retrieved December 15, 2022 from https://en.wikipedia.org/w/index.php?title=Box_plot&oldid=1125442600  
 * https://vincentarelbundock.github.io/Rdatasets/articles/data.html